<h3>Octoprint Fullscreen <small>{{ _('Version') }}: <span data-bind="text: settings.plugins.octoprint_fullscreen.installed_version"></span></small></h3>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="settings-fullscreen-info-font_size">{{ _('Font size') }}</label>
        <div class="controls">
            <select data-bind="options: settings.plugins.octoprint_fullscreen.font_sizes, value: settings.plugins.octoprint_fullscreen.font_size" id="settings-fullscreen-info-font_size"></select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="settings-fullscreen-info-position">{{ _('Info box position') }}</label>
        <div class="controls">
            <select data-bind="options: settings.plugins.octoprint_fullscreen.positions, optionsText: 'name',optionsValue: 'value', value: settings.plugins.octoprint_fullscreen.position" id="settings-fullscreen-info-position"></select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="octoprint-fullscreen-swatchfg">{{ _('Foreground Color') }}</label>
        <div class="controls">
            <div id="octoprint-fullscreen-swatchfg" class="octoprint-fullscreen-swatch"></div>
            <input type="text" id="octoprint-fullscreen-swatchfgtext" class="octoprint-fullscreen-swatch-text" readonly="" />
        </div>

        <label class="control-label" for="octoprint-fullscreen-swatchbg">{{ _('Background Color') }}</label>
        <div class="controls">
            <div id="octoprint-fullscreen-swatchbg" class="octoprint-fullscreen-swatch"></div>
            <input type="text" id="octoprint-fullscreen-swatchbgtext" class="octoprint-fullscreen-swatch-text" readonly="" />
        </div>

        <label class="control-label" for="octoprint-fullscreen-swatchborder">{{ _('Border Color') }}</label>
        <div class="controls">
            <div id="octoprint-fullscreen-swatchborder" class="octoprint-fullscreen-swatch"></div>
            <input type="text" id="octoprint-fullscreen-swatchbordertext" class="octoprint-fullscreen-swatch-text" readonly="" />
        </div>
    </div>
</form>
